Source: kimchi
Section: misc
Priority: optional
Maintainer: Lucio Correia <luciojhc@linux.vnet.ibm.com>
Standards-Version: 3.9.8
Build-Depends: compass-bootstrap-sass-plugin,
               debhelper (>= 10),
               dh-python,
               pysassc,
               python,
               python-pkg-resources,
               ruby-compass-core,
               xsltproc,
               wok-dev
Homepage: https://github.com/kimchi-project/kimchi

Package: kimchi
Architecture: any
Depends: gettext,
         ginger-base,
         libguestfs-tools,
         libjs-term.js,
         libvirt-clients,
         libvirt-daemon-system,
         nfs-common,
         novnc,
         open-iscsi,
         python-configobj,
         python-ethtool,
         python-guestfs,
         python-imaging,
         python-ipaddr,
         python-libvirt,
         python-lxml,
         python-magic,
         python-parted,
         python-paramiko,
         python-psutil,
         qemu-system-arm [armel armhf],
         qemu-system-mips [mips mipsel],
         qemu-system-misc [s390x],
         qemu-system-ppc [powerpc ppc64 ppc64el],
         qemu-system-sparc [sparc],
         qemu-system-x86 [i386 amd64],
         sosreport,
         spice-html5,
         sudo,
         websockify,
         wok,
         ${misc:Depends},
         ${python:Depends}
Suggests: firewalld
Description: HTML5 based management tool for KVM
 Kimchi is designed to make it as easy as possible to get started with KVM and
 create your first guest.
 .
 Kimchi is a plugin for Wok. It manages KVM guests through libvirt. The
 management interface is accessed over the web using a browser that supports
 HTML5.
