#!/usr/bin/make -f
export DH_VERBOSE=1

export AUTOPOINT=true

%:
	dh $@ --with python2

override_dh_clean:
	dh_clean po/gen-pot po/stamp-po ui/css/kimchi.css \
	$(shell find ./ -name '*.gmo'| sed 's#[^/]*$$#*.gmo#'| sort|uniq) \
	$(shell find ./ -name '*.mo' -type l)

override_dh_auto_build:
	# Debian : we removed generated css above and make sure we can rebuild them
	make -C ui/css css
	dh_auto_build

override_dh_auto_test:
	echo "Skipping tests for now as it needs wok and creation of guests"
